{% extends "@EasyAdmin/layout.html.twig" %}
{% form_theme form "@EasyAdmin/crud/form_theme.html.twig" %}

{% block page_actions %}
<button class="btn btn-primary" type="submit" form="{{ form.vars.id }}">
        <span class="btn-label"><span class="action-label">Guardar</span></span>
    </button>
{% endblock page_actions %}

{% block main %}
{{ form_start(form, {attr:  { id: form.vars.id } }) }}
{{ form_end(form) }}
{% endblock %}
