{% extends "@EasyAdmin/layout.html.twig" %}

{% block content_title %}Dashboard{% endblock %}

{% block content %}
<div class="row justify-content-center mt-4">
    <div class="col-md-8">
        <div class="card">
            <div class="table-responsive">
            {{ render(controller('App\\Controller\\Admin\\DashboardController::dailySyncStatus')) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
