{% extends 'tool_base.html.twig' %}

{% block container %}

<div class="tool-container">
    <div class="tool-header">
        <div class="row">
            <div class="col col-12">
                <img src="{{ asset('images/logo-text.png') }}" alt="Logo Multicentro">
            </div>
        </div>
    </div>
    <main>
        <div class="text-center">
            <h3>Simulación de Crédito #{{ entity.publicId }} Registrada Exitosamente</h3>
            <i class="bi bi-check-circle-fill text-success" style="font-size: 4rem;"></i>
            <hr>
            <p>{{ client.fullName }}.</p>
            <p>Nota: simulación vigente en el periodo de contigencia.</p>
            <a href="{{ path('app_contingency_login') }}" class="btn btn-primary mt-3">
                Salir
            </a>
        </div>
    </main>
</div>
{% endblock %}
